<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/css/homestyle.css?{{unique_id}}" />
  <title>Nearshore Meals: 20 Meals For Your Health Life</title>
  <style>
    @font-face {
      font-family: "Agrandir";
      src: url(fonts/PPAgrandir-GrandLight.otf) format(otf);
    }
  </style>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
  <nav>
    <ul>
      <li>
        <a href="#"><img src="../static/images/NEARSHORE.png?{{unique_id}}" /></a>
      </li>
      <li><a href="#">Our Plans</a></li>
      <li>
        <a href="#">About Us</a>
        <ul class="dropdown">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Our Stories</a></li>
          <li><a href="#">How It Works</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Our Menus</a>
        <ul class="dropdown">
          <li><a href="#">Our Menus</a></li>
          <li><a href="#">Cookbook</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div>
    <p class="new">
      New! Free Dessert For Life
      <span>One per box with active subscription</span>
    </p>
  </div>
  <div class="first-phase">
    <div class="too">
      <p class="treat">Treat yourself with Morocann’s #1 Meal Kit.</p>
      <p class="offering">
        Now offering
        <strong> 16 Free Meals and Free Dessert for Life.</strong>
      </p>
      <!-- Modify the button to link to the offer page -->
      <a href="{{ url_for('plans') }}" class="offer-link">
        <button class="offer">Get Offer</button>
      </a>
      <p class="explain">
        *Applied as discount across 9 boxes, new subscriptions only, and
        varies by plan. One free dessert item per box with an active
        subscription.
      </p>
    </div>
    <div class="image-first">
      <img src="../static/images/banner.jpeg?{{unique_id}}" class="cook" />
    </div>
  </div>
  <section class="why">
    <div class="titre-why">
      <h2 class="WhyNearshoreMeals">Why NearshoreMeals</h2>
    </div>
    <div class="globale-all">
      <div class="globale-div">
        <div class="first-box">
          <div class="box1">
            <div class="icone1">
              <img src="../static/images/why-hellofresh-icn1.png?{{unique_id}}" />
            </div>
            <h3>No skimpin’ on the chicken!</h3>
            <p class="allbox">Or steak, or fish, or plant protein.</p>
          </div>
        </div>
        <div class="first-box">
          <div class="box1">
            <div class="icone1">
              <img src="../static/images/why-hellofresh-icn2.png?{{unique_id}}" />
            </div>
            <h3>No commitment whatsoever</h3>
            <p class="allbox">Skipping weeks or cancelling is super easy.</p>
          </div>
        </div>
        <div class="first-box">
          <div class="box1">
            <div class="icone1">
              <img src="../static/images/why-hellofresh-icn3.png?{{unique_id}}" />
            </div>
            <h3>The most 5-star reviews</h3>
            <p class="allbox">
              Our huge recipe selection wows week after week.
            </p>
          </div>
        </div>
        <div class="first-box">
          <div class="box1">
            <div class="icone1">
              <img src="../static/images/why-hellofresh-icn1.png?{{unique_id}}" />
            </div>
            <h3>Fresh and affordable</h3>
            <p class="allbox">
              Chef-created deliciousness from $9.99 per meal.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="link1">
      <div>
        <a href="{{ url_for('plans') }}" class="offer-link" style="text-decoration: none">
          <button class="Get-offer2">Get Offer</button>
        </a>
      </div>
    </div>
  </section>
</body>

</html>