/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between; /* Separate the sections */
    height: 100vh;
}

.section {
    flex: 1; /* Each section takes up equal space */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

/* Shipping information styling */
.shipping-information {
    width: 50%;
    padding: 40px 60px;
    box-sizing: border-box;
    text-align: center;
}

.shipping-information h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.shipping-information span {
    display: block;
    margin-bottom: 10px; /* Increased space between lines */
}

.add-user {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centering the input fields horizontally */
}

.add-user input[type="text"],
.add-user input[type="tel"] {
    width: calc(48% - 20px); /* Adjust width as needed */
    margin-bottom: 20px; /* Increased space between inputs */
    margin-right: 20px;
    padding: 12px; /* Increased input padding */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.next {
    padding: 12px 24px; /* Increased button padding */
    font-size: 16px; /* Increased button font size */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.next:hover {
    background-color: #45a049;
}

/* Order section styling */
.order {
    text-align: center;
    margin-top: 50px; /* Adjust the margin as needed */
}

.order-summary {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.order-summary h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.order-summary div {
    max-width: 400px; /* Adjust max-width as needed */
    margin: 0 auto;
}

.order-summary p {
    margin-bottom: 10px;
    font-size: 16px; /* Adjust font size as needed */
}

.order-summary p:last-child {
    margin-bottom: 0; /* Remove bottom margin for the last paragraph */
}

.order-summary span {
    font-weight: bold;
    display: inline-block;
    padding: 6px 10px;
    border-radius: 4px;
}

/* Styling for the spans containing prices */
.order-summary span.price {
    color: #00c853; /* Green color for positive prices */
    background-color: #d4edda; /* Light green background for positive prices */
}

.order-summary span.off {
    color: #d50000; /* Red color for discounts */
    background-color: #f8d7da; /* Light red background for discounts */
}
