/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
}

.container {
    display: flex;
    background-color: white;
    flex-direction: column;
    /* Change to column layout */
    justify-content: center;
    /* Center vertically */
    align-items: center;
    /* Center horizontally */
    margin: 50px;
    box-shadow: 0px 0px 10px rgb(234, 234, 234);
    padding: 20px;
}

.container h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 50;
}

.subcontainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 50px;
    /* Adjust as needed */
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 50;
}

/* Navigation Menu Styles */
/* nav ul {
    list-style: none;
    background: white;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    position: relative;
}

nav {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #242424;
}

nav ul li:hover>a {
    background-color: #caf47d;
}

nav ul ul.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    display: none;
    z-index: 1000;
    width: 100%;
}

nav ul ul.dropdown li {
    display: block;
}

nav ul ul.dropdown li a {
    padding: 12px 20px;
    font-size: 14px;
}

nav ul li:hover>ul.dropdown {
    display: block;
}

nav ul li:first-child a img {
    width: 40px;
    height: auto;
} */

/* Preferences Styles */
.preferences {
    width: 40%;
    padding: 10px;
}

.preference-card {
    display: inline-block;
    width: calc(35% - 20px);
    /* Adjust width to fit 2 cards in each row with some margin */
    margin-bottom: 20px;
    border: 1px solid #060606;
    border-radius: 10px;
    padding: 20px;
    /* Increase padding */
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    /* Smooth transition */
}

.preference-card:hover {
    background-color: #f0f0f0;
    /* Change background color on hover */
}

.preference-card img {
    width: 80px;
    /* Increase icon size */
    height: 80px;
    /* Increase icon size */
    margin-bottom: 10px;
    /* Add space between icon and text */
    display: block;
    /* Center the icon */
    margin: 0 auto 10px;
    /* Center the icon */
}

.preference-card p {
    margin: 0;
    vertical-align: bottom;
    /* Align text at the bottom */
}

/* Hide the checkbox */
.preference-card input[type="checkbox"] {
    display: none;
}

/* Selected card style */
.preference-card.selected {
    background-color: #4caf50;
    /* Change background color for selected card */
    color: white;
    /* Change text color for selected card */
}

/* Plan Customization Styles */
.customization {
    width: 40%;
}

.plan-options-p,
.plan-options-m {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.plan-options-m h3,
.plan-options-p h3 {
    margin-right: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.option-card {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    background-color: #f9f9f9;
    /* Set default background color */
}

.option-card input[type="radio"] {
    display: none;
    /* Hide the radio buttons */
}

.option-card label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

.option-card label::before {
    content: '';
    position: absolute;
    width: 20px;
    /* Adjust size of inner circle */
    height: 20px;
    /* Adjust size of inner circle */
    border-radius: 50%;
    background-color: transparent;
    /* Set inner circle background color to transparent */
    transition: background-color 0.3s ease;
    display: none;
}

.option-card.selected {
    background-color: #4caf50;
    color: white;
    /* Change background color for selected card */
}


.plan-details {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.plan-details h3{
    font-weight: bold;
    font-size: small;
    color: #333;
}

.plan-details p {
    margin: 5px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.plan-details .simple-text{
    font-family:'Courier New', Courier, monospace;
}

.plan-details p strong {
    font-weight: bold;
    font-size: x-large;
}

.plan-details p .price {
    color: #4caf50;
    font-size: x-large;
}

.plan-details p .off {
    color: #fff;
    background-color: #cc0a0a;
    padding: 5px;
    border-radius: 4px;
    font-size: x-large;
}

.hor-divider{
    width: 100%;
    border: 0.2px dotted #dbd9d9;
    margin-top: 10px;
    margin-bottom: 10px;
}



button {
    background-color: #4caf50;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

.vertical-divider {
    border-left: 2px dashed #414040;
    height: 600px;
    margin: 0 20px; /* Adjust margin as needed */
}