/* General Styles */


body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    max-height: 100%;
    max-width: 100%;
    margin: 0px;
}

.left-section {
    width: 60%;
    height: 100%;
    padding-left: 100px;
    padding-top: 50px;
    padding-right: 60px;
}

.right-section {
    width: 40%;
    padding: 50px;
    background-color: #f5f3f3;
}


.cod-background {
    background-image: url('../images/image.jpg?{{unique_id}}');
    background-size: cover;
    height: auto;
    background-position: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.subcon{
    background-color: #F8F6F4;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    margin-bottom: 50px;
}

.cod-background h2 {
    font-size: 40px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    color: #272829;
    margin: 0;
    
}

.cod-description p {
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    color: #191717;
    margin: 0px;
    text-align: start;
}

h2 {
    box-sizing: border-box;
    color: rgb(36, 36, 36);
    display: inline;
    font-family: "Agrandir, Verdana, Geneva, sans-serif";
    font-size: 25px;
    font-weight: 400;
    height: auto;
    letter-spacing: normal;
    line-height: 24px;
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    width: auto;
}

.hor-divader {
    width: 98%;
    border: 2px dashed rgb(201, 201, 201);
}


.button-50 {
    appearance: button;
    background-color: #96C291;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 30px 5px 30px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.button-50:focus {
    text-decoration: none;
}

.button-50:hover {
    text-decoration: none;
}

.button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

.button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

.order-container {
    padding: 10px;
}

.order-container h2 {
    display: block;
    margin-bottom: 20px;
}

.order-totale {
    margin-bottom: 18px;
}

.price-totale {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.price-totale h4 {
    box-sizing: border-box;
    color: rgb(36, 36, 36);
    display: block;
    font-family: "Source Sans Pro, Trebuchet MS, Helvetica, sans-serif";
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
}

.price-totale p {
    color: #1d3d1f;
}

.free {
    display: flex;
    align-items: center;
}

.freespan {
    margin-left: 10px;
    box-sizing: border-box;
    color: rgb(179, 0, 0);
    display: inline;
    font-family: "Source Sans Pro, Trebuchet MS, Helvetica, sans-serif";
    font-size: 15px;
    font-weight: 700;
}

.order-parm p {
    color: rgb(103, 103, 103);
    display: inline;
    font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.green-div {
    background-color: rgb(228, 250, 191);
    padding: 10px;
    border-radius: 10px;
}


.green-div p {
    color: rgb(103, 103, 103);
    display: inline;
    font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.freedesert {
    margin-bottom: 15px;
}

.lastparagraph {
    color: rgb(103, 103, 103);
    display: inline;
    font-family: "Source Sans Pro, Trebuchet MS, Helvetica, sans-serif";
    font-size: 18px;
    font-weight: 400;
}

@media only screen and (max-width: 600px) {
    body {
        margin: 0px;
        padding: 0px;
    }

    .container {
        flex-direction: column;
        width: 100%;
    }

    .left-section,
    .right-section {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 10px;
    }

    .right-section {
        padding-left: 0;
        padding-right: 0;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    }

    .subcon{
        margin-top: 40px;
        margin-bottom: 0px;
    }
}

@media (min-width: 768px) {
    .button-50 {
        padding: 12px 50px;
    }
}